*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:white;
line-height:1.6;
}

header{
background:#ff0000;
padding:20px;
text-align:center;
}

nav{
margin-top:15px;
}

nav a{
color:white;
text-decoration:none;
margin:0 10px;
font-weight:bold;
}

nav a:hover{
color:yellow;
}

.hero{
padding:70px 20px;
text-align:center;
background:linear-gradient(90deg,#111,#222);
}

.hero h1{
font-size:42px;
}

.hero p{
margin-top:10px;
font-size:20px;
}

.button{
display:inline-block;
padding:12px 25px;
background:#00C853;
color:white;
text-decoration:none;
border-radius:10px;
margin:10px;
transition:0.3s;
}

.button:hover{
transform:scale(1.05);
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:30px;
}

.card{
background:#222;
padding:20px;
width:280px;
border-radius:15px;
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
}

footer{
background:#000;
text-align:center;
padding:20px;
margin-top:40px;
}
.logo-box{
display:flex;
align-items:center;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.logo{
width:80px;
height:80px;
border-radius:50%;
border:3px solid white;
object-fit:cover;
}

.logo-box h1{
margin:0;
font-size:40px;
}
